body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    height: 100%;
}

.bodyy
{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/ES-en-20240909-TRIFECTA-perspective_ee364273-e37f-4aed-a1b6-2c7b30791d2d_medium.jpg) center center / cover no-repeat;
    height: 100vh; 
    width: 100vw; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.logo {
    color: #e50914;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profile {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: scale(1.1);
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.profile p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.manage-profiles {
    margin-top: 50px;
}

.btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}
